[DEFAULT]
UID = 你的UID
ROOMID = 直播间ID
BUVID2 = F12控制台-application-cookie里面的buvid3
BUVID3 = F12控制台-application-cookie里面的buvid3
KEY  = 访问链接得到的token

[SAMPLE]
UID = 13195272
ROOMID = 25034104
BUVID2 = E03DBaC6-05D1-4C28-B322-665F4954C0B2a7583infoc
BUVID3 = Eadas3DB0C6-05D1-4C28-B322-2265F4954C7583infoc
KEY  = Z4LNMcf6zpmEDQlfhgP3aaauJa7jLfaXEaszIh1UalSO7zbLSAPbAm6RKtnWyvCI9txJxQCbivUxdVt-qgyU524xrSKGCIbEYMJzvTXAuwV98Wc0B5acRsokZxPmJdh2Jo0T3SXk472id4RfBxUzYovZq5Sh1kpAGKiCi4WwrSbY-XW6kTTmn3-HOI